<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
	</configSections>

	<connectionStrings>
		<add name="MiConexion"
			 connectionString="datasource=localhost;port=3306;username=yours;password=yours;database=prueba1"
			 providerName="MySql.Data.MySqlClient"/>
	</connectionStrings>

	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
	</startup>
</configuration>